@media screen and (max-width:800px) {
	.banner-image img {
        width:600px !important;
    }
}
@media screen and (max-width:640px) {
	.banner-image img {
        width:400px !important;
    }
}
@media screen and (max-width:440px) {
	.banner-image img {
        width:240px !important;
    }
}
@media screen and (max-width:1280px) {
	.colorPicker {
        flex-direction:row;
        flex-wrap:wrap;
    }
}
body {
	background-image:url('../images/background.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center center;
	background-size:cover;
}
.banner-image {
	display:flex;
}
.banner-image img {
	margin:0 auto;
	width:768px;
}
.preview-color {
    border: 1px solid black;
	width:50px;
	height:24px;
}
.colorPicker {
	display:flex;
	margin:0 auto;
	justify-content:center;
}
.mdl-layout__container {
	background-color:rgba(255,254,255,0.8);
}
.transition-left {
	transform-origin:center right;
}
.colorPicker table tbody td,.colorPicker table thead td{
    text-align: center;
}
.generate-area {
	margin-top:1em;
	display:flex;
	justify-content:space-around;
}
.generate-buttons {
	margin:0 0.25em;
}
.background-color-setting-radios div {
	margin:0.5em 0;
}
